<html>
{% include 'header.html' %}
<body>
  <div class="cover-container d-md-flex w-100 h-md-100 mx-auto flex-column">
    {% include 'navbar.html' %}
    <div class="d-flex justify-content-center mb-auto" style="min-height:85vh">
      <main role="main" class="inner mt-4">
        <div class="mb-4">
          <h3>实用工具</h3>
          <ul class="list-group">
            <li class="list-article list-group-item"><a href="https://docs.google.com/document/d/1LIA3dVtQstpSfyno8fIVb9caVUgklrrDCRx5f1lVjL8/edit?usp=sharing" target="_blank">一个朴素好用的简历模板(Google Docs)</a></li>
          </ul>
        </div>
        <div class="mb-4">
          <h3>长篇大论</h3>
          <ul class="list-group">
            {% for article in articles %}
            <li class="list-article list-group-item"><a href="/article/{{ article.link }}">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <h3>视频解说</h3>
          <ul class="list-group">
            <li class="list-article list-group-item"><a href="https://www.zhihu.com/zvideo/1323641556440547328">【简历不简】英文简历十不要</a></li>
            <li class="list-article list-group-item"><a href="https://www.zhihu.com/zvideo/1333046546238431232">【简历不简】概述bp怎么写</a></li>
            <li class="list-article list-group-item"><a href="https://www.zhihu.com/zvideo/1328627518186999808">【简历不简】扩写简历五字真诀</a></li>
            <li class="list-article list-group-item"><a href="https://www.zhihu.com/zvideo/1326434822030147584">【简历不简】最小项目法</a></li>
            <li class="list-article list-group-item"><a href="https://www.zhihu.com/zvideo/1330099104828567552">【简历不简】为什么课程项目不值钱</a></li>
          </ul>
        </div>
      </main>
    </div> 
  </div>
</body>
</html>
