<html>
{% include 'header.html' %}
<body>
  <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    {% include 'navbar.html' %}
    <div class="d-flex justify-content-center mb-auto" style="min-height:85vh">
      <main role="main" class="inner mt-4">
        <ul class="list-group">
          {% for article in articles %}
          <li class="list-article list-group-item"><a href="/article/{{ article.link }}">{{ article.title }}</a></li>
          {% endfor %}
        </ul>
      </main>
    </div> 
  </div>
</body>
</html>
