<html>
{% include 'header.html' %}
<body>
  <div class="cover-container d-md-flex w-100 h-md-100 mx-auto flex-column">
    {% include 'navbar.html' %}
    <div class="d-flex justify-content-center">
      <main role="main" class="inner mt-4" style="overflow-y:auto">
        <h3 class="text-center"> {{ title }} </h3>
        <div class="article-content">
          {{ content }}
          <p>本文由EECSResume(<a href="https://www.eecsresume.com">www.eecsresume.com</a>)发布，如需转载，必须复制本行。</p>
        </div>
      </main>
    </div>>
  </div>
</body>
</html>
