<html>
{% include 'header.html' %}
<body>
  <div class="cover-container d-md-flex w-100 h-md-100 mx-auto flex-column">
    {% include 'navbar.html' %}
    <div class="d-flex justify-content-center mb-auto" style="min-height:85vh">
      <main role="main" class="inner mt-4">
        <ul class="list-group">
          {% for challenge in challenges %}
          <li class="list-article list-group-item"><a href="/challenge/{{ challenge.link }}">{{ challenge.title }}</a></li>
          {% endfor %}
        </ul>
      </main>
    </div>
  </div>
</body>
</html>
