<html>
{% include 'header.html' %}
<script src="/static/challenge.js" type="text/javascript"></script>
<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include 'navbar_nospace.html' %}
    <main role="main" class="inner mt-4">
    <h5><a href=".." style="color:#007bee">&lt;返回挑战列表</a></h5>
    <h3 class="text-center"> {{ title }} | <a href="./rank" style="color:#007bee">查看排行榜</a></h3>
      <div class="challenge-content">
        {{ description }}
      </div>
      <div>
        <input type="text" id="username" class="form-control" placeholder="Username">
        <textarea id="answer" class="form-control my-2" rows="8" placeholder="Answer"></textarea>
        <div id="err_msg" class="alert alert-danger d-none">
          出错了哟！
        </div>
        <div id="success_msg" class="alert alert-success d-none">
          干的不错！
        </div>
        <button id="submit-answer" class="btn btn-primary float-right" ques-link="{{ ques_link }}">提交答案</button>
      </div>
    </main>
  </div>
</body>
</html>
