<html>
{% include 'header.html' %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    {% include 'navbar.html' %}
    <div class="main-cover cover d-flex justify-content-center align-items-center">
      <main role="main" id="main-content">
        
        <div id="heading-div" class="d-flex justify-content-around">
          <h2 class="pb-4 main-title">EE CS 简历点评与修改</h2>
        </div>


        <div id="intro-cards-div" class="d-flex justify-content-center flex-wrap">
          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">个人介绍</h5>
              <ul class="card-text">
                <li>清华电子系本科</li> 
                <li>Cornell ECE Master</li> 
                <li>Green Hills Software SDE</li> 
                <li>Software, Firmware, FPGA, Circuit Design, PCB Layout</li> 
              </ul> 
            </div>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">校招经历</h5>
              <ul class="card-text">
                <li>2014年毕业即开始校招</li> 
                <li>6年</li> 
                <li>100+次面试</li> 
                <li>1000+份简历</li> 
                <li>Cornell招聘Lead</li> 
              </ul> 
            </div>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">校招足迹</h5>
              <ul class="card-text">
                <li>Cornell</li> 
                <li>MIT</li> 
                <li>UCLA</li> 
                <li>UCSB</li> 
                <li>Rose Hulman</li> 
              </ul> 
            </div>
          </div>

        </div>

        <div id="intro-cards-div" class="d-flex justify-content-center flex-wrap">
          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">我可以帮你</h5>
              <ul class="card-text">
                <li>调整模板</li> 
                <li>挖掘细节</li> 
                <li>梳理逻辑</li> 
                <li>润色词句</li> 
                <li>做出一份好用的Resume</li> 
              </ul> 
            </div>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">修改流程</h5>
              <ul class="card-text">
                <li>提交简历</li> 
                <li>免费点评</li> 
                <li>决定是否付费修改</li> 
                <li>我给出详细修改意见</li> 
                <li>反复多稿直到满意</li> 
              </ul> 
            </div>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">战果统计</h5>
              <ul class="card-text">
                <li>开始于2018年10月</li>
                <li>本周内点评{{stat.week[0]}}篇，修改{{stat.week[1]}}篇</li> 
                <li>本月内点评{{stat.month[0]}}篇，修改{{stat.month[1]}}篇</li> 
                <li>共计点评{{stat.total[0]}}篇，修改{{stat.total[1]}}篇</li> 
              </ul> 
            </div>
          </div>
        </div>
        
        <hr>

        <div>
          <form id="upload-form" action="/api/v1/task" method="post" enctype="multipart/form-data" class="">
            <label class="index-page-label">输入Email，上传简历，收获免费点评</label>
            <div class="form-group py-1 d-flex justify-content-center">
              <input type="email" class="form-control" id="user-email" placeholder="Enter Email">
            </div>
            <input id="upload-file-input" type="file" name="resume" class="custom-file-input d-none">
            <div id="email-error-text" class="invalid-feedback">输入一个正确的email地址</div>
            <div class="form-group py-1">
              <button id="submit-resume" class="btn btn-secondary btn-submit" disabled>提交简历</button>
            </div>
            <div id="upload-error-text" class="invalid-feedback">请上传一个小于2MB的pdf文档</div>
          </form>
        </div>
      </main>
      <div class="loader d-none"></div>
    </div>
    <footer class="mastfoot mt-auto py-2">
      <div>
        {{ footer.latest }}
      </div>
    </footer>
</body>
</html>
