<html>
{% include 'header.html' %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include 'navbar.html' %}
    <main role="main" class="inner cover">
      <div id="main-content">
        <h1 class="cover-heading py-2">免费简历点评</h1>
        <p class="lead">5年面试经验，100+次面试，筛选过1000+份简历</p>
        <p class="lead">免费点评，如需修改，再行付费</p>
        <p class="lead">专长工作向英文EE, CS简历修改</p>
        <p class="lead">全程email沟通，方便快捷</p>
        <p class="lead">
          <form id="upload-form" action="/api/v1/task" method="post" enctype="multipart/form-data" class="py-2">
            <div class="form-group py-1">
              <input type="email" class="form-control" id="user-email" placeholder="Enter Email">
            </div>
            <input id="upload-file-input" type="file" name="resume" class="custom-file-input d-none">
            <div id="email-error-text" class="invalid-feedback">输入一个正确的email地址</div>
            <div class="form-group py-1">
              <button id="submit-resume" class="btn btn-secondary btn-lg" disabled>提交简历</button>
            </div>
            <div id="upload-error-text" class="invalid-feedback">请上传一个小于2MB的pdf文档</div>
          </form>
        </p>
      </div>
      <div class="loader d-none"></div>
    </main>
    <footer class="mastfoot mt-auto">
      <div>
        <p> {{ footer.stat }} </p>
        <p> {{ footer.latest }} </p>
      </div>
    </footer>
</body>
</html>
