    <header class="masthead py-2 mb-auto d-flex justify-content-start justify-content-md-around mb-3 flex-column flex-md-row">
      <a href="/"><h3 class="masthead-brand">EECSResume</h3></a>
      <nav class="nav nav-masthead justify-content-center">
        <a id="nav-home" class="nav-link" href="/">主页</a>
        <a id="nav-procedure" class="nav-link" href="/procedure">流程</a>
        <a id="nav-article" class="nav-link" href="/article">文章</a>
        <a id="nav-comment" class="nav-link" href="/comment">评价</a>
      </nav>
    </header>

