<html>
{% include 'header.html' %}
<body class="text-center">
  <div class="cover-container d-md-flex w-100 h-md-100 mx-auto flex-column">
    {% include 'navbar.html' %}
    <div class="d-flex justify-content-center">
      <main role="main" class="cover inner">
        <div id="intro-cards-div" class="d-flex justify-content-center flex-wrap">
          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">提交简历</h5>
              <p class="card-text">
                通过<a href="/">网站</a>输入email上传英文简历，上传成功会收到确认email。
              </p> 
            </div>
          </div>

          <div class="d-flex align-items-center">
            <i class="fas fa-arrow-right fa-2x"></i>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">免费点评</h5>
              <p class="card-text">
                大约3-5个工作日，会收到我的点评email。这个点评是我对简历的大概看法，包括水准评价和简单的改进方向。
              </p> 
            </div>
          </div>

          <div class="d-flex align-items-center">
            <i class="fas fa-arrow-right fa-2x"></i>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">付费</h5>
              <p class="card-text">
                如果你需要我帮忙详细修改简历，就要进入付费阶段。我会通过email告诉你我的收款方式，现在的标准价格是<b>$260</b>，另外提供24小时回复的<b>$320</b>高速通道。接受职业规划咨询，<b>$40</b>/15min。
              </p> 
            </div>
          </div>

          <div class="d-flex align-items-center">
            <i class="fas fa-arrow-right fa-2x"></i>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">修改</h5>
              <p class="card-text">
                我会根据你的简历整理出一份详细的修改意见发给你，由你来进行修改，详情请通过email咨询。
              </p> 
            </div>
          </div>

          <div class="d-flex align-items-center">
            <i class="fas fa-arrow-right fa-2x"></i>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">提升</h5>
              <p class="card-text">
                如果你对第一次的修改意见有任何形式的不满意，都可以在第一次修改之后要求退80%的费用。否则我们进入修改流程，反复多稿，直到写出一份让双方都满意的简历为止。一般需要<b>5</b>稿左右定稿。
              </p> 
            </div>
          </div>

          <div class="d-flex align-items-center">
            <i class="fas fa-arrow-right fa-2x"></i>
          </div>

          <div class="card card-intro">
            <div class="card-body">
              <h5 class="card-title">定稿</h5>
              <p class="card-text">
                在双方都表示满意之后，简历修改完成。如果再有后续项目补充，我会尽可能帮忙看一下，但是无法保证无限期服务。修改结束后欢迎到网站评价区评论。
              </p> 
            </div>
          </div>

          <div class="d-flex align-items-center">
            <i class="fas fa-check fa-2x"></i>
          </div>

        </div>
      </main>
    </div>
    <footer class="mastfoot mt-auto">
    </footer>
</body>
</html>
