<html>
{% include 'header.html' %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {% include 'navbar.html' %}
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Step 1</h1>
      <p class="lead">输入Email，提交简历</p>
      <h1 class="cover-heading">Step 2</h1>
      <p class="lead">在两到三个工作日内，会收到我的点评。点评会比较简略，是我对简历的总体看法</p>
      <h1 class="cover-heading">Step 3</h1>
      <p class="lead">如果你对点评已经非常满意，到这里就可以拿着简历去自己修改啦～如果你认可我的看法，并且希望我帮助你修改简历，那就进入收费阶段。修改一份简历 $140（这个价格比开始涨了不少，因为我发现我平均在每一篇resume上花的时间大概有3个小时以上，我希望把这个时间留给真正很需要的人。）</p>
      <h1 class="cover-heading">Step 4</h1>
      <p class="lead">交费后，我会根据你的简历，提出详细的修改建议，在这个过程中，我们会一直沟通，修改多稿，直到我们都对Resume满意为止。如果你付费后对我的修改建议表示不满，认为钱花冤枉了，可以在第一次我提出修改建议的时候停止服务，我会退还你80%的费用</p>
      <h1 class="cover-heading">Step 5</h1>
      <p class="lead">拿着你理想的简历，去斩获心爱的offer</p>
    </main>
    <footer class="mastfoot mt-auto">
    </footer>
</body>
</html>
