<html>
{% include 'header.html' %}
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
    {% include 'navbar.html' %}
    <div class="d-flex justify-content-center">
      <main role="main" class="inner cover">
        <h1 class="cover-heading">提交成功！</h1>
        <p class="lead">您的简历已经提交成功，您应该在五分钟之内收到一封确认邮件。如果5分钟内没收到确认邮件，请去主页重新提交简历，或者直接发Email至eecsresume@gmail.com</p>
        <p class="lead">想了解接下来的流程和关于我的事情？点击上方的导航就能知道。</p>
      </main>
    </div>
    <footer class="mastfoot mt-auto">
    </footer>
</body>
</html>
